<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Episodes</title>
  <link rel="stylesheet" href="/CSS/episodes.css">
  <link rel="stylesheet" href="/CSS/main.css">
</head>
<body>
  <div class="page-container">
    <header>
      <img src="/CSS/sample/logo/Jeffersonian_Anthropology_Unit_logo.png" alt="Stories Icon" id="stories-icon">
      <nav class="menu">
          <a href="/">Главная</a>
          <h2>|</h2>
          <a href="/episodes">Эпизоды</a>
          <h2>|</h2>
          <a href="/actors">Актёры</a>
          <h2>|</h2>
          <a href="/characters">Персонажи</a>
      </nav>
      <form action="/search" method="get" class="search-container" id="search-form">
        <input type="text" name="query" placeholder="Введите запрос" autocomplete="off">
        <button type="submit">Поиск</button>
      </form>
    <ul id="search-results"></ul>
    </header>

    <!-- Алфавитный фильтр -->
    <div class="alphabet">
      <% alphabet.forEach(letter => { %>
        <a 
          href="/episodes?letter=<%= letter %>" 
          class="<%= letter === selectedLetter ? 'active' : '' %>">
          <%= letter %>
        </a>
      <% }) %>
    </div>

    <div class="content">
      <div class="episodes">
        <h1 class="page_name">Эпизоды</h1>
    
        <!-- Список серий -->
        <div class="episode-list">
          <% if (episodes.length > 0) { %>
            <ul>
              <% episodes.forEach(episode => { %>
                <li>
                  <a href="/episode/<%= episode.id %>">
                    <img src="<%= episode.image %>" alt="<%= episode.title %>" class="episode-image">
                    <span><%= episode.title %></span>
                  </a>
                </li>
              <% }) %>
            </ul>
          <% } else { %>
            <p>No episodes found for "<%= selectedLetter %>".</p>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
