<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scael=1.0">
    <title>FBI database</title>
    <link rel="stylesheet" href="/CSS/main.css">
</head>
<body>
    <!-- Основной контейнер -->
    <div class="page-container">
        <header>
            <img src="/CSS/sample/logo/Jeffersonian_Anthropology_Unit_logo.png" alt="Stories Icon" id="stories-icon">
            <nav class="menu">
                <a href="/">Главная</a>
                <h2>|</h2>
                <a href="/episode">Эпизоды</a>
                <h2>|</h2>
                <a href="/cast">Актёры</a>
                <h2>|</h2>
                <a href="/characters">Персонажи</a>
            </nav>
            <div class="search-container">
                <input type="text" name="query" placeholder="Введите запрос">
                <button type="submit">Поиск</button>
            </div>
        </header>
            <!-- Страница с эпизодами -->
            <div class="containerEpisodes">
                <!-- Алфавит -->
                <div class="alphabet">
                    <% alphabet.forEach(letter => { %>
                        <a href="#<%= letter %>"><%= letter %></a>
                    <% }); %>
                </div>
        

                <!-- Список эпизодов -->
                <div class="episodes">
                    <% alphabet.forEach(letter => { %>
                        <div id="<%= letter %>" class="episode-section">
                            <h2><%= letter %></h2>
                            <ul>
                                <% episodes.forEach(episode => { 
                                    if(episode.title[0].toUpperCase() === letter) { %>
                                        <li><%= episode.title %></li>
                                    <% } 
                                }); %>
                            </ul>
                        </div>
                    <% }); %>
                </div>
            </div>
</body>
</html>
