<script src="/js/search.js"></script>


<h1>Результаты поиска для "<%= query %>"</h1>

<% if (filteredEpisodes.length) { %>
  <h2>Эпизоды</h2>
  <ul>
    <% filteredEpisodes.forEach(episode => { %>
      <li><a href="/episode/<%= episode.id %>"><%= episode.title %></a></li>
    <% }) %>
  </ul>
<% } %>

<% if (filteredCharacters.length) { %>
  <h2>Персонажи</h2>
  <ul>
    <% filteredCharacters.forEach(character => { %>
      <li><a href="/character/<%= character.id %>"><%= character.name %></a></li>
    <% }) %>
  </ul>
<% } %>

<% if (filteredActors.length) { %>
  <h2>Актёры</h2>
  <ul>
    <% filteredActors.forEach(actor => { %>
      <li><a href="/actor/<%= actor.id %>"><%= actor.name %></a></li>
    <% }) %>
  </ul>
<% } %>

<% if (!filteredEpisodes.length && !filteredCharacters.length && !filteredActors.length) { %>
  <p>Ничего не найдено</p>
<% } %>
